* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
html, body {
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------*/
@font-face {
    font-family: Agdasima;
    src: url('../../fonts/Agdasima-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Belanosima;
    src: url('../../fonts/Belanosima-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: url('../../fonts/Lora-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.icon {
    height: 20px;
    width: 20px;
    fill: none;
}

.l-arrow-icon {
    height: 20px;
    width: 20px;
}

.header {
    background: rgb(153, 109, 179);
    padding: 20px 0;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px auto;
    gap: 20px;
}

.header-menu li {
    font-family: Agdasima;
    font-size: 30px;
    outline: 2px solid rgb(4, 4, 49);
    color: rgb(4, 4, 49);
    text-align: center;
    position: relative;
}

.header-menu li a {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
}

.header-menu li:hover .second-menu{
    top: 100%;
}

.second-menu {
    transition: top 1s linear;
    position: absolute;
    top: -1000%;
    right: 0;
    z-index: 3;
}

.second-menu li {
    font-family: Belanosima;
    background: rgb(153, 109, 179);
    margin-top: 10px;
}

.second-menu a {
    white-space: nowrap;
    text-decoration: none;
}

.third-menu {
    transition: opacity 1s ease;
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 100%;
padding-right: 20px;
overflow: hidden;}

.third-menu li {
    margin-top: 0px;
    font-family: Lora;
}

.second-menu li:hover .third-menu{
    opacity: 1;
    overflow: visible;
}
.cursor {
    cursor: pointer;
}

.p-button {
    padding: 20px 10px;
}

.bg-orange {
    background: orange;
}

.bg-yellow {
    background: yellow;
}

.bg-green {
    background: green;
}

.box {
    width: 1200px;
    margin: 0 auto;
}

.d-inline-block {
    display: inline-block;
}

.outline {
    outline: 2px solid red;
}

.fs-0 {
    font-size: 0;
}

.fs-20 {
    font-size: 20px;
}

.w-400 {
    width: 400px;
}

.w-800 {
    width: 800px;
}

.h-133 {
    height: 133.33px;
}

.h-200 {
    height: 200px;
}

.h-100 {
    height: 100px;
}

.h-400 {
    height: 400px;
}